.col-2.py-md-3.d-none.d-sm-block.bg-info.text-dark.text-center.justify-content-center.px-1.px-lg-2
  if LANG=="es" 
    h5.text-center.mx-auto Publicidad
  else if LANG=="en"
    h5.text-center.mx-auto Advertising
  a(href='https://www.instagram.com/_pedacitode_cielo/' rel='sponsored')
    img.w-100.mb-2(src=HOST+'/publicidad/PedacitoDeCielo.webp' alt='Pedacito de Cielo')
  a(href='https://www.instagram.com/p/CC_2AELnaMi/?igshid=yp0v3i285a37' rel='sponsored')
    img.w-100(src=HOST+'/publicidad/Lool-Ha1.webp' alt='Lool-Ha')
    img.w-100(src=HOST+'/publicidad/Lool-Ha2.webp' alt='Lool-Ha')
    img.w-100.mb-2(src=HOST+'/publicidad/Lool-Ha3.webp' alt='Lool-Ha')
  a(href='https://www.google.com/url?sa=t&source=web&rct=j&url=https://www.instagram.com/awesomefundas/&ved=2ahUKEwi7pZiOvfjqAhUD2qwKHSV_ChQQFjAAegQIBhAC&usg=AOvVaw072K32mWOHN9b7u3cEzrcd' rel='sponsored')
    img.w-100.mb-2(src=HOST+'/publicidad/AwesomeFundas.webp' alt='Awesome Fundas')
  a(href='https://m.facebook.com/pages/category/Beauty-Supply-Store/mondlermid-100749941724343/' rel='sponsored')
    img.w-100.mb-2(src=HOST+'/publicidad/Mondler.webp' alt='Mondler')
