extends layouts/main

block lang 
  - const LANG=setLang

block missHead
  if LANG=="es"
    meta(name='description' content="Aquí puedes encontrar todos los calendarios astronómicos.")
    meta(property="og:description" content="Aquí puedes encontrar todos los calendarios astronómicos.")
  else if LANG=="en"
    meta(name='description' content="Here you can find all the astronomic calendars.")
    meta(property="og:description" content="Here you can find all the astronomic calendars.")

  link(rel="alternate" hreflang="es" href=HOST+'/'+NavLinks["es"]["cal"])
  link(rel="alternate" hreflang="en" href=HOST+'/'+NavLinks["en"]["cal"])
  link(rel="alternate" hreflang="x-default" href=HOST+'/'+NavLinks["es"]["cal"])
  meta(property="og:url" content=href=HOST+'/'+NavLinks[LANG]["cal"])

  title Science Cookies - #{Buttons[LANG]["cal"]}
  meta(property="og:title" content='Science Cookies - '+Buttons[LANG]["cal"])

  - const site="allCalsY";

block content
  h1.text-center #{Buttons[LANG]["cal"]}
  nav(aria-label='breadcrumb')
    ol.breadcrumb.mb-3
      li.breadcrumb-item.active(aria-current='page') #{Buttons[LANG]["cal"]}
  .container-fluid.mb-2.rounded-lg.p-3.bg-rebecca
    if LANG=="es"
      p Aquí puedes encontrar todos los calendarios astronómicos.
    else if LANG=="en"
      p Here you can find all the astronomic calendars.
    ul
      each year in years
        li
          a.btn-link-science.text-light(href=HOST+'/'+NavLinks[LANG]["cal"]+year style='font-size:larger') #{year}