extends layouts/main

block lang 
  - const LANG=setLang

block missHead
  if LANG=="es"
    meta(name='description' content="Aquí puedes encontrar todos los calendarios astronómicos del "+year+".")
    meta(property="og:description" content="Aquí puedes encontrar todos los calendarios astronómicos del "+year+".")
  else if LANG=="en"
    meta(name='description' content="Here you can find all the astronomic calendars from "+year+".")
    meta(property="og:description" content="Here you can find all the astronomic calendars from "+year+".")

  link(rel="alternate" hreflang="es" href=HOST+'/'+NavLinks["es"]["cal"]+year+'/')
  link(rel="alternate" hreflang="en" href=HOST+'/'+NavLinks["en"]["cal"]+year+'/')
  link(rel="alternate" hreflang="x-default" href=HOST+'/'+NavLinks["es"]["cal"]+year+'/')
  meta(property="og:url" content=href=HOST+'/'+NavLinks[LANG]["cal"]+year+'/')

  title Science Cookies - #{Buttons[LANG]["cal"]} #{year}
  meta(property="og:title" content='Science Cookies - '+Buttons[LANG]["cal"]+' '+year)

  - const site="allCalsM";

block content
  nav(aria-label='breadcrumb')
    ol.breadcrumb.mb-4
      li.breadcrumb-item(aria-current='page')
        a(href=HOST+'/'+NavLinks[LANG]["cal"]) #{Buttons[LANG]["cal"]}
      li.breadcrumb-item.active(aria-current='page') #{year}
  br
  each month in months
    a.text-decoration-none.text-light(href=month.url)
      .media.mb-3 
        img.align-self-center.mr-3(src=month.picUrl alt=month.title width="64px" height="64px")
        .media-body
          h5.mt-0 !{month.title}
          p !{month.descriptionShort}
    .dropdown-divider.d-md-none