<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{description}}" />
  <link rel="canonical" href="https://sciencecookies.net/galletas/{{month}}/{{file}}"/>
  <link rel="shortcut icon" href="../../img/logoT.svg">
  <title>{{title}} - Science Cookies</title>

  <!--Firebase app-->
  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
  <!--Firebase features-->
  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-storage.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-functions.js"></script>

  <!--Initialize Firebase-->
  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyCc5LmjPpufLuHzR6RiXR7awOdGuWpztTk",
      authDomain: "sciencecookies.net",
      databaseURL: "https://science-cookies.firebaseio.com",
      projectId: "science-cookies",
      storageBucket: "science-cookies.appspot.com",
      messagingSenderId: "906770471712",
      appId: "1:906770471712:web:c7a2c16bac19b6c2d7d545",
      measurementId: "G-1MYVREMBFV"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>

  <!--FirebaseUI-->
  <script src="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth__es.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css" />

  <!--Font awesome-->
  <script src="https://kit.fontawesome.com/cf642fd47e.js" crossorigin="anonymous"></script>

  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!--Google fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../../css/main.css">

</head>

<body>

  <!--Navbar-->
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #791acd;">
    <img src="../../img/wlogoT.svg" height="30" class="d-inline-block align-center mr-2" alt="Science Cookies Logo" loading="lazy">
    <a class="navbar-brand" href="../../index">Science Cookies</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarM" aria-controls="navbarM" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarM">
      <ul class="navbar-nav mr-auto py-0">
        <a class="btn btn-dark mx-2 my-1" href="../../index">Inicio</a>
        <a class="btn btn-dark mx-2 my-1" href="../../quienes-somos">¿Quienes somos?</a>
        <a class="btn btn-dark mx-2 my-1" href="../../contacto">Contacto</a>
        <a class="btn btn-dark mx-2 my-1" href="../../archivo">Archivo</a>
        <a class="btn btn-dark mx-2 my-1" href="../../calendario-astronomico">Calendario Astronómico</a>
      </ul>
      <div class="row justify-content-end">
        <div class="dropdown mr-4 dropleft">
          <button class="btn btn-dark dropdown-toggle p-2" type="button" id="usrDrpdwn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas" id="icnUsr"></i><img src="" height="30" class="d-inline-block align-center ml-2 rounded-circle" alt="" id="picUsr"></button>
          <div class="dropdown-menu dropdown-menu-right bg-dark pl-1" aria-labelledby="usrDrpdwn">
            <a id="btnPrfl" class="btn btn-link text-decoration-none text-light d-none" href="../../perfil">Mi perfíl</a>
            <a id="btnPref" class="btn btn-link text-decoration-none text-light d-none" href="../../perfil?tab=pref">Preferencias</a>
            <a id="btnDraft" class="btn btn-link text-decoration-none text-light d-none" href="../../drafts">Borradores</a>
            <a id="btnCals" class="btn btn-link text-decoration-none text-light d-none" href="../../calendarios">Calendarios</a>
            <div class="dropdown-divider ml-1 mr-2"></div>
            <button id="btnLgO" class="btn btn-link text-decoration-none text-light d-none">Cerrar sesión</button>
            <button id="btnLgI" class="btn btn-link text-decoration-none text-light d-none" data-toggle="modal" data-target="#mdlRgstr">Acceder</button>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Register modal -->
  <div class="modal fade" id="mdlRgstr" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="mdlRgsL" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="mdlRgsL">Inicia sesión o regístrate</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="firebaseui-auth-container"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"
            onclick="document.getElementById('mdlRgsL').innerHTML='Inicia sesión o regístrate';reporting=null">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <!--Report modal-->
  <div class="modal fade" id="mdlRprt" tabindex="-1" role="dialog" aria-labelledby="mdlRprtL" aria-hidden="true"
    data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="mdlRprtL">Reportar contenido</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="frmRprt">
            <div class="form-group row">
              <label for="inReas" class="col-sm-2 col-form-label">Razón</label>
              <div class="col-sm-10">
                <select id="inReas" class="form-control" required>
                  <option value="">Escoge...</option>
                  <option value="Spam o contenido comercial no deseado">Spam o contenido comercial no deseado</option>
                  <option value="Abuso o acoso">Abuso o acoso</option>
                  <option value="Fomenta el odio o la violencia">Fomenta el odio o la violencia</option>
                  <option value="Lenguaje ofensivo">Lenguaje ofensivo</option>
                  <option value="Material sexualmente explícito">Material sexualmente explícito</option>
                  <option value="Otro">Otro</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="inText" class="col-sm-2 col-form-label">Detalles</label>
              <div class="col-sm-10">
                <textarea type="text" class="form-control" id="inText" placeholder="Opcional" rows="3"
                  maxlength="300"></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" form="frmRprt">Reportar</button>
        </div>
      </div>
    </div>
  </div>

  <!--Alertas-->
  <div id="alrtClsSsn">

  </div>

  <!--Página-->
  <div class="container-fluid text-white"
    style="background-color: black;background-image: url('../../img/fondo1.jpg');background-position: center top;background-attachment: fixed;">
    <div class="row justify-content-around">
      <div class="col-md-3 col-xl-2 sidebar my-0 ml-lg-3 mr-0 ml-md-2 py-md-1 pl-md-3 text-dark"
        style="background-color: #FFF8E7;">
        <div class="row">
          <h5 class="text-center my-auto mr-auto ml-3 ml-md-auto mt-md-2 d-md-none">Galletas recomendadas</h5>
          <button class="btn d-md-none p-0 pr-2 mr-4" type="button" data-toggle="collapse" data-target="#sdbarL"
            aria-controls="sdbarL" aria-expanded="false" aria-label="Toggle docs navigation"
            style="font-size: 1.8rem;"><i class="fas fa-bars"></i></button>
        </div>
        <nav class="collapse sdbarCnt" id="sdbarL">
            <div class="col justify-content-center px-3 px-md-0 px-lg-3 px-xl-2">
              <h5 class="text-center">La galleta más nueva</h5>
              <div id="newCook"></div>
              <div class="dropdown-divider d-md-none"></div>
              <h5 class="text-center">Las galletas más populares</h5>
              <div id="popCook"></div>
            </div>
          </nav>
      </div>
      <div class="col-12 col-sm-9 col-md-6 col-xl-7 py-md-3 pl-md-3">
        <p class="text-center"><img class="mt-3 mb-4 w-75" src="../../img/NLogoHalignT.svg"
            alt="Science Cookies: artículos de ciencia con chispas de chocolate"></p>
        <div class="container-fluid mb-2 rounded-lg p-3" style="background-color:rebeccapurple;">
          <!--Aquí va el contenido-->
          {{#each content}}
            {{{this}}}
          {{/each}}
          <!--Aquí termina el contenido-->
        </div>
        <div class="row justify-content-start mb-2" id="btnsFL">
          <div class="col-auto">
            <button class="btn btn-outline-light p-1 disabled mt-2 mx-2" id="btnFav">Añadir a favoritos <i class="far fa-heart" id="btnFavTxt"></i><span id="favCount" class="badge badge-dark ml-w"></span></button>
          </div>
          <div class="col-auto">
            <button class="btn btn-outline-light p-1 disabled m-2" id="btnLike">Dar me gusta <i class="far fa-thumbs-up" id="btnLikeTxt"></i><span id="likeCount" class="badge badge-dark m-2"></span></button>
          </div>
        </div>
        <!--Comentarios-->
        <div class="row">
          <button class="btn btn-block btn-scckie mb-2 disabled" id="btnLdComs">Cargar comentarios</button>
          <div class="container-fluid d-none" id="spnCom">
            <div class="text-center">
              <div class="spinner-border text-primary" role="status"><span class="sr-only"></span></div>
            </div>
          </div>
          <div class="container-fluid text-dark d-none" id="cntComs">
            <div class="container-fluid bg-light p-2 rounded-lg mb-1">
              <div class="row">
                <div class="col" id="comCount">Aún no hay comentarios</div>
              </div>
              <div class="dropdown-divider"></div>
              <form id="frmNwCom">
                <div class="form-group row">
                  <div class="col-auto pr-0">
                    <label for="inNwCom"><img src="" alt="" class="rounded-circle" height="35" width="35"
                        id="ppCom"></label>
                  </div>
                  <div class="col">
                    <textarea type="text" class="form-control-plaintext border-bottom" id="inNwCom" maxlength="200"
                      placeholder="Nuevo comentario" required rows="3"></textarea>
                    <small class="text-muted">Máximo 200 caracteres</small>
                  </div>
                </div>
              </form>
              <div class="row justify-content-end d-none" id="frmNwComBtns">
                <div class="col-auto">
                  <button class="btn btn-secondary"
                    onclick="document.getElementById('inNwCom').value='';document.getElementById('frmNwComBtns').classList.add('d-none');replying=-1;document.getElementById('inNwCom').setAttribute('placeholder','Nuevo comentario');"
                    id="btnCanCom">Cancelar</button>
                  <button class="btn btn-scckie" type="submit" form="frmNwCom" id="btnAddCom">Comentar</button>
                </div>
              </div>
            </div>
            <div class="container-fluid text-dark d-none p-0" id="cntComs2">
            </div>
          </div>
          <button class="btn btn-block btn-scckie mb-2 disabled d-none" id="btnLdMrComs">Más comentarios</button>
          <div class="container-fluid d-none" id="spnCom2">
            <div class="text-center">
              <div class="spinner-border text-primary" role="status"><span class="sr-only"></span></div>
            </div>
          </div>
        </div>
      </div>
      <!--Anuncios V-->
      <div
        class="col-2 py-md-3 d-none d-sm-block bg-info sidebar text-dark text-center justify-content-center px-1 px-lg-2"
        id="adsV"></div>
    </div>
    <!--Anuncios H-->
    <div class="row bg-info px-2 text-dark d-sm-none justify-content-center" id="adsH"></div>
  </div>

  <!--Id@#IMPORTANTE-->
  <input class="form-check-input d-none" type="checkbox" id="getId" readonly value="{{cookieID}}">
  <input class="form-check-input d-none" type="checkbox" id="getTitle" readonly value="{{titleInf}}">

  <!--Bootstrap-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

  <script src="../../js/global.js"></script>
  <script src="../../js/newCookApp.js"></script>

  <script>{{{java}}}</script>

  <!--AddThis-->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5f13599e10bd5c2b"></script>
</body>

</html>