block missHead
  if LANG=="es"
    meta(name='description' content='¿Tienes alguna sugerencia o duda? ¿Quieres reportar un fallo? Aquí puedes hacerlo.')
  else if LANG=="en"
    meta(name='description' content='Do you have any suggestions or doubts? Do you want to report a bug? You can do it here.')

  link(rel='canonical' href=HOST+'/'+NavLinks[LANG]["contact"])
  title Science Cookies - #{Buttons[LANG]["contact"]}

  - const site="contact";

block content
  .container-fluid.justify-content-center
    if LANG=="es"
      h3.text-center Envíanos un mensaje
      br
      p Si tienes alguna sugerencia, comentario o quieres reportar un fallo, puedes hacerlo aquí.
      br
      form#frmCont
        .form-group.row
          label.col-sm-2.col-form-label(for='inEmail') Email
          .col-sm-10
            input#inEmail.form-control-plaintext.text-light(type='text' readonly='' value='')
        .form-group.row
          label.col-sm-2.col-form-label(for='inSubj') Asunto
          .col-sm-10
            select#inSubj.form-control(required='')
              option(value='') Escoge...
              option#inOsuger(value='Sugerir una galleta') Sugerir una galleta
              option#inOfallo(value='Reportar un fallo') Reportar un fallo
              option#inOtos(value='Sobre los Términos de Servicio') Sobre los Términos de Servicio
              option#inOpriv(value='Sobre la Política de Privacidad') Sobre la Política de Privacidad
              option#inOotro(value='Otro') Otro
        .form-group.row
          label.col-sm-2.col-form-label(for='inText') Mensaje
          .col-sm-10
            textarea#inText.form-control(type='text' required='')
        .form-group.d-flex
          .flex-grow-1
            .form-check
              input#inAcpt.form-check-input(type='checkbox' value='' required='')
              label.form-check-label(for='inAcpt')
                | Estoy de acuerdo con los 
                a.text-warning(href='/'+NavLinks[LANG]["tos"]) #{Buttons[LANG]["tos"]}
                |  y la 
                a.text-warning(href='/'+NavLinks[LANG]["priv"]) #{Buttons[LANG]["priv"]}
          div
            button.btn.btn-outline-success.px-4.px-sm-5.px-md-3.px-lg-5(type='submit') Enviar
    else if LANG=="en"
      h3.text-center Send us a message
      br
      p If you have any suggestions, comments or want to report a bug, you can do it here.
      br
      form#frmCont
        .form-group.row
          label.col-sm-2.col-form-label(for='inEmail') Email
          .col-sm-10
            input#inEmail.form-control-plaintext.text-light(type='text' readonly='' value='')
        .form-group.row
          label.col-sm-2.col-form-label(for='inSubj') Subject
          .col-sm-10
            select#inSubj.form-control(required='')
              option(value='') Choose...
              option#inOsuger(value='Sugest a Cookie') Sugest a Cookie
              option#inOfallo(value='Report a bug') Report a bug
              option#inOtos(value='About Terms of Service') About Terms of Service
              option#inOpriv(value='About Privacy Policy') About Privacy Policy
              option#inOotro(value='Other') Other
        .form-group.row
          label.col-sm-2.col-form-label(for='inText') Message
          .col-sm-10
            textarea#inText.form-control(type='text' required='')
        .form-group.d-flex
          .flex-grow-1
            .form-check
              input#inAcpt.form-check-input(type='checkbox' value='' required='')
              label.form-check-label(for='inAcpt')
                | I agree with the 
                a.text-warning(href='/'+NavLinks[LANG]["tos"]) #{Buttons[LANG]["tos"]}
                |  and the 
                a.text-warning(href='/'+NavLinks[LANG]["priv"]) #{Buttons[LANG]["priv"]}
          div
            button.btn.btn-outline-success.px-4.px-sm-5.px-md-3.px-lg-5(type='submit') Enviar

block ownjs
  script(src='/js/contact.js')