include config
block lang

doctype html
html(lang=LANG)
  head
    include ../includes/head

    block missHead

    if site!="cookie" && site!="cal" && site!="allCalsM" && site!="allCalsY" && site!="cook" && site!="cookTri" && site!="mailPrev"
      link(rel="alternate" hreflang="es" href=HOST+'/'+NavLinks["es"][site])
      link(rel="alternate" hreflang="en" href=HOST+'/'+NavLinks["en"][site])
      link(rel="alternate" hreflang="x-default" href=HOST+'/'+NavLinks["es"][site])

      if site=="index"
        if LANG=="es" 
          title Artículos de ciencia con chispas de chocolate - Science Cookies
        else if LANG=="en" 
          title Science articles with chocolate chips - Science Cookies
      else 
        title #{Buttons[LANG][site]} - Science Cookies

    script.
      window.site = "#{site}";
      window.lang = "#{LANG}";

    link(rel="stylesheet" href=HOST+"/styles/main.css")

  body
    include ../includes/nav

    include ../includes/register

    block precontent

    .container-fluid.text-white.page-container
      .row.justify-content-around

        include ../includes/sidebarL

        #cookCnt.col-12.col-sm-9.col-md-6.col-xl-7.py-md-3.pl-md-3
          include ../includes/banner
          block content

        include ../includes/adsV

      include ../includes/adsH

    include ../includes/foot

    include ../includes/bottom

    script(src=HOST+'/js/global.js')
    block ownjs